on:
  pull_request_target:

permissions:
  contents: write

jobs:
  run-main:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout base
        uses: actions/checkout@v6
        with:
          ref: main
      - name: Checkout PR
        uses: actions/checkout@v6
        with:
          ref: ${{ github.event.pull_request.head.sha }}
          path: ${{ github.event.pull_request.head.sha }}
          sparse-checkout: |
            README.md
          sparse-checkout-cone-mode: false
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.12"
      - name: Run main
        env:
          MERGE_COMMIT_SHA: ${{ github.event.pull_request.merge_commit_sha }}
          GITHUB_PR_SHA: ${{ github.event.pull_request.head.sha }}
          GITHUB_REF: ${{ github.ref }}
        run: |
          echo $GITHUB_REF
          ls -la $GITHUB_PR_SHA
          python3 main.py
